/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */


 .global-map-subscribe {
   background: url("http://www.soaptheme.net/html/travelo/images/global-map.jpg") no-repeat;
 }
 .global-map-subscribe .description p {
   color: #7c9abd;
 }
 .global-map-subscribe .description h1, .global-map-subscribe .description h2, .global-map-subscribe .description h3, .global-map-area .description h4, .global-map-area .description h5, .global-map-area .description h6 {
   color: #fff;
 }

 